{% extends 'base.html.twig' %}

{% block title %}Православен храм гр.Сливница!{% endblock %}

{% block body %}
    <div id="vue-entry"></div>
{% endblock %}
{% block javascripts %}
    <script>
    window.user = {{ user|raw }}
    </script>
    {{ parent() }}
{% endblock %}
