{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <a href="{{ path('send_email') }}">Send email</a>
    <div id="vue-entry"></div>
{% endblock %}
{% block javascripts %}
    <script>
    window.user = {{ user|raw }}
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('vue') }}

{% endblock %}
