
bg-main{
    background-color: #533c34 !important;
}
.bg-green{
    background-color: #459251 !important;
}
.bg-yellow{
     background-color: #b5a363 !important;
 }
.bg-yellow-white{
    background-color: #dbd69b !important;
}

:root {
    --bg-main:#533c34;
    --bg-yellow:#b5a363;
    --bg-yellow-white:#dbd69b;
}