bg-main{
    background-color: #533c34 !important;
}
.bg-green{
    background-color: #459251 !important;
}
.bg-yellow{
     background-color: #b5a363 !important;
 }
.bg-yellow-white{
    background-color: #dbd69b !important;
}